<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="d9df32cf-346c-4b08-9f52-095a03cfe393" Publisher="CN=Manuel" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="756adbfb-3ed5-4040-ba8e-2816ee24a2c4" PhonePublisherId="e8714970-8280-48a3-bbc4-ed530a0c8362" />
  <Properties>
    <DisplayName>WindowsPhone</DisplayName>
    <PublisherDisplayName>Manuel</PublisherDisplayName>
    <Logo>Assets\Logos\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="AGHost.exe" EntryPoint="Pages\StartPage.xaml">
      <m3:VisualElements DisplayName="Currency Converter" Square150x150Logo="Assets\Logos\Logo_150x150.png" Square44x44Logo="Assets\Logos\Logo_44x44.png" Description="WindowsPhone" ForegroundText="light" BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\Logos\Logo_71x71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\Logos\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>